<p><%= @user.last_name %> <%= @user.first_name %> さん</p>

<p>ワン泊！のパスワード再設定用メールです。</p>

<p>こちらのリンクから再設定を完了してください。</p>

<%= link_to "ワン泊！のパスワードを再設定する", edit_password_reset_url(@user.reset_token, encrypted_email_address: @user.encrypted_email_address) %>
